.container{
  .nav-left{
    min-width: 180px;
    height: calc(100vh);
    background: #001529;
  }
  .mian {
    height: calc(100vh);
  }
  .content{
    position: relative;
    padding: 20px;
  }
}